@model List<ClientNS.Category>
@{
    ViewData["Title"] = "Index";
}
<h1>Category List </h1>
<h3>List of Categories</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                CategoryId
            </th>
        </tr>
    </thead>
   <form  asp-controller="Home" asp-action="Search" method="get">
    @foreach (var item in Model) {
        <tr>
            <td>
                <div class="form-group">
                <input asp-for="@item.CategoryId" type="radio" name="id" value="@item.CategoryId"/>@item.CategoryName
                <br/>
            </div>
            </td>
        </tr>
    }
    <tr>
        <td><input type="submit" value="Submit Form" /></td>
    </tr>
</form>
</table>
<hr/>











