@model Coditas.EComm.Entities.Category

@{
    ViewData["Title"] = "Create";
    

    var catagoriesList = (List<SelectListItem>)ViewBag.Categories;
}

<div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <@*input asp-for="CategoryId" class="form-control" />*@
                <select class="form-control" asp-for="CategoryId"
                 asp-items="@catagoriesList"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
